<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <h3>Notifications <img src="images/Bell.png" width="30"></h3>
    <hr>
    {{#if user.wonItems}}
        {{#each user.wonItems}}
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <font color="green"><i class="fa fa-check-circle" aria-hidden="true"></i> You have won <b>{{this.title}}</b>. Please complete the checkout.</font>
            </div>
            <div class="panel-body">
              <div class="person1" style="float:left; display:inline-block; ">
                 <span style="float:left;width: 10%;">
                     <img src="{{this.imagePath}}"
                      width="50"/>
                 </span>
                 <span style="float:right;width: 90%;">
                    <p style="float:right; display:block;">{{this.description}}</p>
                    <span class="badge" style="float:right;">RS:{{this.currentBid}}</span>
                  </span>
                </div>
            </div>
            <ul class="list-group">
             <li class="list-group-item">
                 <a href="/win-checkout/{{this._id}}" type="button" class="btn btn-primary" >Proceed to checkout</a>
             </li>
            </ul>
          </div>
        {{/each}}
    {{else}}
      <p>You’re all caught up.</p>
    {{/if}}
  </div>
</div>
